<section class="wrapper">
    <section class="col-md-8 col-md-offset-2">
        <div class="item-heading">
            <h2 class="border-bottom mb-20 pad-10">Basketball
                <a href="#!/delete_item" ng-click="">
                    <span class="pull-right control-icons">
                        <i class="fa fa-trash"></i>
                    </span>
                </a>
                <a href="#!/edit_item">
                    <span class="pull-right mr-10 control-icons">
                        <i class="fa fa-edit"></i>
                    </span>
                </a>
            </h2>
        </div>
        <div class="">
            <p class="info">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </section>
</section>