<section class="wrapper">
    <section class="col-md-12 pad-60">
        <div class="item-heading">
            <!--<h2 class="border-bottom mb-20 pad-10">{{viewCtrl.itemDetails.title}}
                <a href="#!/delete_item" ng-click="">
                    <span class="pull-right control-icons">
                        <i class="fa fa-trash"></i>
                    </span>
                </a>
                <a href="#!/edit_item">
                    <span class="pull-right mr-10 control-icons">
                        <i class="fa fa-edit"></i>
                    </span>
                </a>
            </h2>
        </div>
        <div class="">
            <p class="info">{{viewCtrl.itemDetails.long_description}}</p>
        </div> -->
            <!--  <div class="media">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{viewCtrl.itemDetails.title}}</h5>
                <p>{{viewCtrl.itemDetails.long_description}}</p>
            </div>
            <div class="media-right">
                <img ng-src="{{viewCtrl.imageUrl}}/{{viewCtrl.itemDetails.item_photo}}" class="media-object" style="width:60px">
            </div>
        </div> -->
            <div class="media">

                <div class="media-body">
                    <h2 class="mt-0 mb-1">{{viewCtrl.itemDetails.title}}</h2>
                    <p class="info">{{viewCtrl.itemDetails.long_description}}</p>
                </div>
                <div class="media-right media-top">
                    <img src="{{viewCtrl.imageUrl}}/{{viewCtrl.itemDetails.item_photo}}" class="media-object" style="width:60px">
                </div>
            </div>
        </div>
    </section>
</section>