<aside class="col-md-3 side-bar col-sm-4 col-xs-12" ng-if="showSidebar">
    <div class="filter-section">
        <h5 class="pad-10 category-heading">
            <i class="fa fa-times pull-right visible-xs" ng-click="homePageCtrl.checkScreenWidth()"></i> Categories
        </h5>
        <div class="row">
            <hr class="separator">
        </div>
        <ul class="nav categories">
            <li ng-repeat="category in homePageCtrl.categories" ng-click="homePageCtrl.getItemsByCategory(category.id)">{{category.name}}</li>
        </ul>
    </div>
</aside>