<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 border-right">
                <table>
                    <tr>
                        <td class="ptb-10">
                            <div class="circle-widget-xs"><i class="fa fa-map-marker"></i></div>
                        </td>
                        <td>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ptb-10">
                            <div class="circle-widget-xs"><i class="fa fa-envelope"></i></div>
                        </td>
                        <td>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ptb-10">
                            <div class="circle-widget-xs"><i class="fa fa-phone"></i></div>
                        </td>
                        <td>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </td>
                    </tr>
                </table>


            </div>
            <div class="col-md-6">
                <p class="text-muted text-center">&copy; 2016 Lorem</p>
                <ul class="list-inline text-center">
                    <li><div class="circle-widget-xs"><i class="fa fa-facebook"></i></div></li>
                    <li><div class="circle-widget-xs"><i class="fa fa-twitter"></i></div></li>
                    <li><div class="circle-widget-xs"><i class="fa fa-linkedin"></i></div></li>
                    <li><div class="circle-widget-xs"><i class="fa fa-instagram"></i></div></li>
                    <li><div class="circle-widget-xs"><i class="fa fa-google"></i></div></li>
                </ul>
            </div>
        </div>


    </div>

</footer>