<head>
    <ng-include src="'templates/styles.html'"></ng-include>
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <ng-include src="'templates/header.html'"></ng-include>
    <article class="outerwrapper innerwrapper">
        <div class="container">
            <div class="row">
                <article id="registerContent">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="border-bottom mb-15 ptb-10">Login</h3>
                        <form>
                            <div class="ptb-10">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email Address" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" />
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                         
                                    <div class="form-group">
                                        <a href="#/troublelogin.html">Trouble Login?</a>
                                    </div>
                                   
                                    <div class="form-group">
                                        Not registered yet? <a href="#/register">Register</a>
                                    </div>
                                
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </article>

</body>

</html>