<head>
    <title>Dexmate - Register</title>
    <ng-include src="'templates/styles.html'"></ng-include>
    <link rel="stylesheet" href="css/about.css">
    <ng-include src="'templates/scripts.html'"></ng-include>
</head>

<body>
    <ng-include src="'templates/header.html'"></ng-include>
    <article class="outerwrapper innerwrapper">
        <div class="container">
            <div class="row">
                <article id="registerContent">

                    <div class="col-md-6 col-md-offset-3">
                        <h3 class="border-bottom mb-15 ptb-10">New User Registration</h3>
                        <h6 class="text-info mb-15">Please note that all fields are compulsory.</h6>
                        <form>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" placeholder="First Name" autofocus/>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Confirm Password" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Contact Number" />
                            </div>
                            <div class="row">
                                <div class="col-md-9 col-xs-12 form-group">
                                   Already registered? <a href="#/login">Login</a>
                                </div>
                                <div class="col-md-3 col-xs-12 form-group">
                                    <button type="button" class="btn btn-primary btn-block pull-right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </article>
</body>

</html>