<head>
    <ng-include src="'templates/styles.html'"></ng-include>
    <link rel="stylesheet" href="css/home.css">
    <!--<link rel="stylesheet" href="css/about.css">-->
</head>
<body>
<ng-include src="'templates/header.html'"></ng-include>

<article id="headContent" class="border-bottom">

    <div class="jumbotron">
        <h1>Lorem</h1>
        <p><q class="quotes">Innovation distinguishes between leader and follower
        </q>
        <p>-Steve Jobs</p>
        </p>
    </div>

</article>
<div class="container">
    <div class="row">
        <article id="aboutContent" class="border-bottom">
            <div class="innerwrapper container">
                <div class="text-center" id="aboutLeft">
                    <img src="images/icons/org.png"
                         title="Organization">

                    <h1 class="big-heading">Lorem</h1>

                </div>
                <div class="col-md-6 col-md-offset-3" id="aboutRight">

                    <p class="text-justify text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                        ducimus expedita incidunt
                        magni neque perferendis quos repellendus voluptatem. A asperiores atque aut, autem commodi
                        consequatur
                        culpa deserunt dignissimos dolor doloremque earum est expedita explicabo fugiat incidunt iusto
                        laudantium maxime modi natus nihil nulla odio omnis quas suscipit tenetur vel voluptatum! </p>
                </div>

                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3 class="text-center border-bottom ptb-10 mb-15">Lorem ipsum dolor. </h3>

                    <div class="col-md-4 col-xs-4 ptb-10">
                        <img src="images/icons/progress.png"
                             title="Progress"/>
                        <p>Lorem</p>
                    </div>
                    <div class="col-md-4 col-xs-4 ptb-10">
                        <img src="images/icons/progress.png" title="Progress"/>
                        <p>Lorem</p>

                    </div>
                    <div class="col-md-4 col-xs-4 ptb-10">
                        <img src="images/icons/progress.png"
                             title="Progress">
                        <p>Lorem</p>
                    </div>
                </div>
            </div>
        </article>
        <article id="productsContent" class="border-bottom">
            <div class="innerwrapper container">
                <div class="text-center col-md-4" id="prodRight">

                    <img src="images/icons/prod.png">
                    <h1 class="big-heading">Lorem</h1>

                </div>

                <div class="col-md-8" id="prodLeft">

                    <h3>Lorem ipsum dolor sit amet, </h3>
                    <div id="prodCarousel">
                        <div class="col-md-4">
                            <img src="http://placehold.it/280x160&amp;text=one" class="img-thumbnail mb-15"/>
                            <img src="http://placehold.it/280x280&amp;text=one" class="img-thumbnail mb-15"/>
                            <img src="http://placehold.it/280x160&amp;text=one" class="img-thumbnail mb-15"/>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12">
                            <img src="http://placehold.it/680x360&amp;text=one" class="img-thumbnail mb-15"/>
                                </div>
                            <div class="col-md-6">
                                <img src="http://placehold.it/280x160&amp;text=one" class="img-thumbnail mb-15"/>
                                <img src="http://placehold.it/280x160&amp;text=one" class="img-thumbnail mb-15"/>
                            </div>
                            <div class="col-md-6">
                                <img src="http://placehold.it/280x160&amp;text=one" class="img-thumbnail mb-15"/>
                                <img src="http://placehold.it/280x160&amp;text=one" class="img-thumbnail mb-15"/>
                            </div>


                        </div>
                    </div>
                </div>
        </article>
        <article id="techContent">
            <div class="innerwrapper container">
                <div id="techLeft" class="col-md-4 text-center">


                    <img src="images/icons/tech.png">
                    <h1 class="big-heading">Lorem</h1>
                </div>

                <div id="techRight" class="col-md-8">

                    <div>
                        <h3 class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                    </div>
                    <div id="techGrid">
                        <ul class="list-inline">
                            <li><a id="techGridIcon1" class="selected">
                                <img src="http://placehold.it/80x60&amp;text=one" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon2">
                                <img src="http://placehold.it/80x60&amp;text=two" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon3">
                                <img src="http://placehold.it/80x60&amp;text=three" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon4">
                                <img src="http://placehold.it/80x60&amp;text=four" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                            <li><a id="techGridIcon5">
                                <img src="http://placehold.it/80x60&amp;text=five" class="img-responsive">
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
</body>
</html>
